<span class="line_break"></span>
<span class="line_break"></span>
<footer>
    <div>
        <p><br />
          <small>
                <em>Privacy policy: this website employs no tracking.</em>
          </small>
        </p>
    </div>
    <div>
        <p><small>&copy; 1996-{{ now.Format "2006" }} Adler Medrado</small></p>
    </div>
    <div class="gpg_signed_info"><p>All pages on this website are PGP signed.
        Import my <a href="/pub-key.asc">public key</a> and check with <em>curl {{ .Page.Permalink }} | gpg --verify</em></p></div>
</footer>
