<header class="glitch-zone">
    <nav class="navbar" role="navigation" aria-label="Main Navigation">
        <div class="navbar_left">
            <a href="/" class="h-card" rel="me">
                <strong>Adler Medrado<span class="cursor-blink">|</span></strong>
            </a>
        </div>
        <div class="navbar_right navbar_right_animated">
            <a href="/posts">posts</a>
            <a href="/missives">missives</a>
            <a href="/now">what am i doing now</a>
            <a href="/uses">what am i using</a>
        </div>
    </nav>
</header>
